@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Flight Tracker</h1>

    <a class="btn btn-warning" asp-action="DoSomething" asp-controller="Home">
        View your flight information
    </a>
    
    
</div>

