@model FlightProperties

@{
    ViewData["Title"] = "Home Page";

}

@section css{
    <link href="~/css/bootstrap.css" rel="stylesheet" />
}

<body style="background-image: url('Images/dusk.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="backGround">
        <div class="container col-md-8 mx-auto" id="mainContainer">
            <div class="text-center" id="title">
                <h1 style="padding-top: 20px; border-bottom: 1px black" class="display-4">Welcome to AeroTrack</h1>
            </div>
            <div class="container" id="form">
                @using (Html.BeginForm("DoSomething", "Home", "Post"))
                {
                    <ul class="list-group">

                        <div class="container" id="flightNum">
                            <label asp-for="FlightNumber" class="col-form-label mt-4">Flight Number: </label>
                            <input name="FlightNumber" type="text" class="form-control" placeholder="Enter Flight Number:" id="flightnumberBox" required>
                        </div>

                        <div class="container" id="userDepartureCity">
                            <label asp-for="userDepartureCity" class="col-form-label mt-4">Departure City:</label>
                            <input name="userDepartureCity" type="text" class="form-control" placeholder="Enter Departure City:" id="flightnumberBox" required>
                        </div>

                        <div class="container" id="date">
                            <label asp-for="Date" name="date" class="col-form-label mt-4">Date:</label>

                            <input name="Date" type="date" class="form-control" placeholder="Please Choose Calendar Date->" id="calendarBox" required>
                            <script>minDate = new Date();
                                minDate.setDate(minDate.getDate() - 6);
                                var minDateString = minDate.toISOString().split("T")[0];
                                maxDate = new Date();
                                maxDate.setDate(maxDate.getDate() + 6);
                                var maxDateString = maxDate.toISOString().split("T")[0];
                                document.getElementById("calendarBox").setAttribute("min", minDateString);
                                document.getElementById("calendarBox").setAttribute("max", maxDateString);</script>
                        </div>

                        <div style="padding-top: 20px" class="submit mx-auto">
                            <input type="submit" value="View your flight information" class="btn btn-warning" id="submitBox" />
                        </div>
                    </ul>
                }
            </div>
        </div>
    </div>
</body>



@*<div style="padding-top: 20px; width: 400px" class="container" id="flightnumber">
        <label class="control-label">Flight Number:</label>
        <input style="border-radius: 3px;" type="text" name="flightNum" class="form-control" id="flightnumberBox" required />
    </div>

    <div style="padding-top: 20px; width: 400px" class="container" id="userDepartureCity">
        <label class="control-label">Departure City:</label>
        <input style="border-radius: 3px" type="text" name="userDepartureCity" class="form-control" id="flightnumberBox" required />
    </div>*@

@*<div style="padding-top: 20px" class="container" id="date">
        <label class="control-label">Date:</label>
        <input type="text" name="date" class="form-control" id="dateBox" required />
    </div>*@

@*<div style="padding-top: 20px; width: 400px" class="container" id="calendar">
        <label for="date" class="control-label">Date:</label>
        <input type="date" name="date" class="custom-control-label" id="calendarBox" style="width: 376px; height: 50px" required />
    </div>*@
