@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="padding-top:20px">@ViewData["Title"]</h1>

<p style="padding-top:20px">
    ## Privacy Policy <br />

    AeroTrack takes your privacy seriously. To better protect your privacy we provide this privacy policy notice explaining the way your personal information is collected and used.<br /><br />


    ## Collection of Routine Information <br />

    This website tracks basic information about their users. This information includes, but is not limited to, IP addresses, browser details, timestamps and referring pages. None of this information can personally identify specific users to this wesbite. The information is tracked for routine administration and maintenance purposes.<br /><br />


    ## Cookies<br />

    Where necessary, this wesbite uses cookies to store information about a visitor’s preferences and history in order to better serve the user and/or present the user with customized content.<br /><br />


    ## Advertisement and Other Third Parties<br />

    Advertising partners and other third parties may use cookies, scripts and/or web beacons to track user activities on this website in order to display advertisements and other useful information. Such tracking is done directly by the third parties through their own servers and is subject to their own privacy policies. This website has no access or control over these cookies, scripts and/or web beacons that may be used by third parties. Learn how to [opt out of Google’s cookie usage](http://www.google.com/privacy_ads.html). <br /><br />


    ## Links to Third Party Websites<br />

    We have included links on this website for your use and reference. We are not responsible for the privacy policies on these websites. You should be aware that the privacy policies of these websites may differ from our own.<br /><br />


    ## Security<br />

    The security of your personal information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.<br /><br />


    ## Changes To This Privacy Policy<br />

    This Privacy Policy is effective as of [08/24/2022] and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.<br />

    We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.<br /><br />


    ## Contact Information<br />

    For any questions or concerns regarding the privacy policy, please send us an email to jakehammond226@gmail.com.<br />
</p>

