body#doSomethingPage {
    background-color: #C5B4E3;
}

#mainContainer {
    background-color: #43464B;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.departure-column-1 p {
    flex-basis: 45%;
    font-size: 20px;
}

.arrival-column-2 p {
    flex-basis: 45%;
    font-size: 30px;
}

.testShow {
    margin: auto;
    width: 40%;
}
