#form {
    background-color: #feecc8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    width: 500px;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px 50px grey;
}

body {
}

#flightnumber {
    text-align: center;
    margin-bottom: 20px;
}

#flightnumberBox {
    margin: 0 auto;
    width: 350px;
}

/*#calendar {
    text-align: center;
    margin-bottom: 20px;
}

#calendarBox {
    margin: 0 auto;
    width: 350px;
}*/


.submit {
    text-align: center;
}
